.contenedor {
    position: relative;
}

.bloque {
    display: block;
}

.centrado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.imagen{
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 70px;
    max-height: 70px;
    z-index: -1;
}