.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.bloque {
    display: block;
}

.boton {
    margin: 1em
}